<div class="rulesDialog">
  <button class="close" mat-dialog-close (click)="closeDialog()">
    <img src="../../assets/img/close.svg" alt="" />
  </button>
  <div class="dialog-content">
    <!-- <img class="dialog-bg" src="../../assets/img/grid.png" alt="" /> -->
    <h2>Spelregels</h2>
    <p>
      Bij de start van het spel krijg je als speler een kladblok te zien met
      alle mogelijke moordenaars, wapens en locaties. Het forensisch team heeft
      reeds enkele verbanden kunnen leggen waardoor al enkele items op de
      kladblok geschrapt zijn.
    </p>
    <p>
      Om het onderzoeksteam verder te helpen de verbanden te leggen moeten
      enkele puzzelgrids opgelost worden. Elk vak in het grid bevat een stuk
      cruciale informatie om dader, plaats delict en moordwapen te ontmantelen.
    </p>
    <p>
      Door telkens 3 stukjes informatie te combineren kan een wapen, locatie of
      karakter gevonden worden die in je als speler dan op kladblok kan
      schrappen. Aangezien er heel wat tijdsdruk is om het moordmysterie op Jill
      Bridges op te lossen, staat een tijdslimiet op elke ronde.
    </p>
    <p>
      Wanneer de tijd verstreken is moet de speler een poging doen om het
      mysterie op te lossen. Hiervoor moet een mogelijke moordenaar, mogelijk
      moordwapen en mogelijk plaats delict doorgegeven worden. Heb je als speler
      alle antwoorden correct dan heb je de moord opgelost en is het spel
      afgelopen. Zo niet, speel je een volgende ronde met een nieuw grid die
      opnieuw enkele stukken informatie bevat. Zijn alle rondes uitgespeeld
      krijg je nog de kans om te blijven gokken tot de tijd verstreken is.
    </p>
  </div>
</div>
