<div class="center">
  <h1>De moord op Jill Bridges</h1>
  <p>
    <mark>
      Het forensisch team heeft reeds een aantal verbanden kunnen ontdekken die
      de onderzoeksteams kunnen helpen met het ontmaskeren van de moordenaar en
      het achterhalen van de plaats delict en het moordwapen. Zoals wel vaker
      zijn de laatste loodjes het zwaarst en kunnen de onderzoeksteams wel wat
      hulp gebruiken bij het samen puzzelen van de verbanden.
    </mark>
  </p>
  <div class="row">
    <div class="col">
      <a href="/game">Aan de slag</a>
    </div>
  </div>
</div>
