<div *ngIf="!over">
  <div class="mb-5">
      <p id="timer" class="text-center" *ngIf="timeLeft >= 10">0:{{ timeLeft }} </p>
      <p id="timer" class="text-center" *ngIf="timeLeft < 10">0:0{{ timeLeft }} </p>
      <button class="btn btn-danger" (click)="toggleDone()">Skip timer</button>
  </div>

  <div id="board">
    <div class="row">
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[0].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[1].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[2].text }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[3].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[4].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[5].text }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[6].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[7].text }}</p>
      </div>
      <div class="col-4">
        <p class="gamecard">{{ game.data.grids[game.round].clues[8].text }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="over" class="center">
  <h3>Wie verdacht je, met welk wapen en op welke locatie?</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="gridForm">
    <div class="form-group">
      <select name="murderer" id="murderer" formControlName="murderer" class="my-5">
        <option value="" disabled selected>Moordenaar</option>
        <option *ngFor="let clue of murderers" [value]="clue">
          {{ clue }}
        </option>
      </select>
      <select name="weapon" id="weapon" formControlName="weapon" class="mb-5">
        <option value="" disabled selected>Wapen</option>
        <option *ngFor="let clue of weapons" [value]="clue">
          {{ clue }}
        </option>
      </select>
      <select name="location" id="location" formControlName="location" class="mb-5">
        <option value="" disabled selected>Locatie</option>
        <option *ngFor="let clue of locations" [value]="clue">
          {{ clue }}
        </option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="submitButton">Verstuur</button>
    </div>

  </form>
</div>
