//override Bootstrap variables and custom mixins
@import "scss/variables";

//reboot
@import "scss/reboot";

@import "node_modules/bootstrap/scss/bootstrap";

//custom code/partials

body {
  background-color: #e7e7e7;
}
.mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-content {
  padding: 0 !important;
}
