@font-face {
  font-family: "Charter";
  src: local("Charter"),
    url(./assets/fonts/Charter/Charter_Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Charter_Bold";
  src: local("Charter_Bold"),
    url(./assets/fonts/Charter/Charter_Bold.ttf) format("truetype");
}

@font-face {
  font-family: "GimpScribble";
  src: local("GimpScribble"),
    url(./assets/fonts/GimpScribble/GimpScribble.ttf) format("truetype");
}
